body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    padding: 0;
    max-width: 800px;
    margin: auto;
    padding: 0 8px;
}

nav {
    margin-top: 8px;
}

a:link {
    color: #299bff;
    text-decoration: none;
}

a:visited {
    color: #975fc7;
    text-decoration: none;
}
