<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="content">
            <nav>
                <p><a href="/">Homepage</a></p>
            </nav>
        </div>
        <hr />
    </header>


    <article>
        <div class="content">
            <h1>{{ page.title }}</h1>
            {{ content }}
        </div>
    </article>


    <footer>
        <hr />
        <div class="content">
            <p>
                <a href="mailto:info@frozenplain.com">Email</a>
                |
                <a href="https://github.com/samwindell">GitHub</a>
                |
                <a href="/feed.xml">RSS</a> <sup>[1]</sup>
            </p>
            <p>
                <sup>[1]</sup> Paste this link into your favourite RSS feed reader. Alternatively, you can receive
                emails when new posts are added using a service such as <a
                    href="https://feedrabbit.com/">Feedrabbit</a>.
            </p>
    </footer>
    </div>
</body>

</html>
